<div>
    <h2 class="text-center">
        <div class="clock" [ngClass]="{'hidden-clock': !started}"></div>
        Ejecución de procesos
    </h2>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Detalles</legend>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-left font-weight-bold">
                        Lotes faltantes:
                        {{ batch.pendingBatches }} 
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4 class="text-left font-weight-bold">
                        Contador global:
                        {{ batch.globalCounter }}
                    </h4>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-4">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Lote trabajado</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm" *ngIf="batch.currentBatch.length > 0; else not_working_batch">
                            <thead>
                                <th>Programador</th>
                                <th>TME</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of batch.currentBatch">
                                    <td> {{ job.programmerName }} </td>
                                    <td> {{ job.maximumTime }} </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #not_working_batch>
                            <span *ngIf="started">
                                No hay trabajos pendientes para el lote actual
                            </span>
                            
                            <span *ngIf="!started">
                                No hay lote trabajandose
                            </span>
                        </ng-template>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Proceso en ejecución</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm" *ngIf="batch.executingProcess != null; else not_working_process">
                            <thead>
                                <th>Caracteristica</th>
                                <th>Valor</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>{{ batch.executingProcess.programId }} </td>
                                </tr>
                                <tr>
                                    <td>Programador</td>
                                    <td>{{ batch.executingProcess.programmerName }} </td>
                                </tr>
                                <tr>
                                    <td>Operacion</td>
                                    <td>
                                        {{ batch.executingProcess.operator1 }}
                                        {{ batch.executingProcess.operation }} 
                                        {{ batch.executingProcess.operator2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiempo maximo estimado</td>
                                    <td>{{ batch.executingProcess.maximumTime }} </td>
                                </tr>
                                <tr>
                                    <td>Tiempo transcurrido</td>
                                    <td>{{ batch.elapsedTime }} </td>
                                </tr>
                                <tr>
                                    <td>Tiempo restante</td>
                                    <td>{{ batch.executingProcess.maximumTime - batch.elapsedTime }} </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #not_working_process>
                            No hay proceso en ejecucion
                        </ng-template>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Procesos terminados</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm" *ngIf="batch.doneProcesses.length > 0; else not_done_works">
                            <thead>
                                <th>Lote</th>
                                <th>ID</th>
                                <th>Operación</th>
                                <th>Resultado</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of batch.doneProcesses; let i = index; let l = count">
                                    <td *ngIf="i % BATCH_SIZE === 0" [rowSpan]="getRowSpan(l, i)"
                                        class="align-middle"> {{ job.batchNumber }}</td>
                                    <td> {{ job.programId }} </td>
                                    <td>
                                        {{ job.operator1 }}
                                        {{ job.operation }} 
                                        {{ job.operator2 }}
                                    </td>
                                    <td> {{ job.result | number:'1.0-3' }} </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #not_done_works>
                            No hay procesos terminados
                        </ng-template>
                    </div>
                </fieldset>
            </div>
        </div>

        <button class="btn btn-success" [disabled]="started" (click)="startSimulation()">
            Iniciar ejecución 
            <i class="fas fa-play ml-3"></i>
        </button>
</div>
