.hidden-clock{
    opacity: 0%;
}

// Variables
$clock_r: 18px;
$clock_line: 4px;
$clock_color: #333;
$clock_t: 4000ms;
// ---------------------

@keyframes adjust-hue {
  to {
    transform: rotate(360deg);
  }
}

.clock {
  width: $clock_r * 2;
  height: $clock_r * 2;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px $clock_line $clock_color;
  border-radius: 50%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  &:after, &:before {
    position: absolute;
    content: "";
    transform-origin: calc($clock_line / 2) calc($clock_line / 2);
    background-color: $clock_color;
    height: $clock_line;
    top: $clock_r - calc($clock_line / 2);
    left: $clock_r - calc($clock_line / 2);    
  }
  
  &:before {
    width: $clock_r * calc(5  / 6);
    animation: adjust-hue $clock_t linear infinite;
  }
  
  &:after {
    width: $clock_r * calc(2 / 3);    
    animation: adjust-hue calc($clock_t * 4) linear infinite;         
  }
}
