
.frame{
    max-width: 1vw;
    color: white;
    font-size: 80%;
    border: 0px !important;
}

.free-frame{
    background-color: rgb(255, 255, 255);
    color: rgb(125, 125, 125);
    font-style: italic;
}

.so-frame{
    background-color: rgb(34, 34, 34);
}

.ready-frame{
    background-color: rgb(19, 0, 144);
}

.executing-frame{
    background-color: rgb(6, 110, 0);
}

.blocked-frame{
    background-color: rgb(103, 0, 0);
}

.free-frame-icon{
    color: rgb(217, 217, 217);
}

.so-frame-icon{
    color: rgb(34, 34, 34);
}

.ready-frame-icon{
    color: rgb(19, 0, 144);
}

.executing-frame-icon{
    color: rgb(6, 110, 0);
}

.blocked-frame-icon{
    color: rgb(103, 0, 0);
}