<div>
    <h2 class="text-center">Problema productor-consumidor</h2>

    <div class="row">
        <div class="col-md-4">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Productor: Michael Scott</legend>
                <div class="row">
                    <div class="col-md-5">
                        <img src="/assets/img/producer.jpg" 
                            class="img-asset" alt="Michael Scott">
                    </div>
                    <div class="col-md-7 text-center">
                        <span class="badge badge-dark" 
                            *ngIf="!process.producer.working && !process.consumer.working;else producer">
                            Esperando
                        </span>                        
                        <ng-template #producer>
                            <span class="badge badge-primary" *ngIf="process.producer.working"> Trabajando </span>
                            <span class="badge badge-secondary" *ngIf="!process.producer.working"> Durmiendo </span>
                        </ng-template>
                        <br>

                        <h5 class="text-left mt-2">
                            Posición en buffer: 
                            <span class="producer-cell">
                                {{process.producer.idx + 1 }}
                            </span>
                        </h5>
                        <div *ngIf="process.producer.working">
                            <h6>Cantidad a producir: {{ process.workBufferSize }}</h6>
                            <h6>Cantidad producida: {{ process.producer.count }} </h6>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Estado actual</legend>
                <div class="text-center">
                    <i [ngClass]="{'fa-caret-left' : process.turn, 'fa-caret-right' : !process.turn}"
                        class="fas turn-icon"></i>
                    <h5> {{ process.turnStatus }} </h5>
                    <h6> Elementos a consumir / producir : {{ process.workBufferSize }} </h6>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Consumidor: Dwight Schrute</legend>
                <div class="row">
                    <div class="col-md-5">
                        <img src="/assets/img/consumer.webp" 
                            class="img-asset" alt="Dwight Schrute">
                    </div>
                    <div class="col-md-7 text-center">
                        <span class="badge badge-dark" 
                            *ngIf="!process.producer.working && !process.consumer.working;else consumer">
                            Esperando
                        </span>                        
                        <ng-template #consumer>
                            <span class="badge badge-primary" *ngIf="process.consumer.working"> Trabajando </span>
                            <span class="badge badge-secondary" *ngIf="!process.consumer.working"> Durmiendo </span>
                        </ng-template>
                        <br>
                        
                        <h5 class="text-left mt-2">
                            Posición en buffer: 
                            <span class="consumer-cell">
                                {{process.consumer.idx + 1 }}
                            </span>
                        </h5>
                        <div *ngIf="process.consumer.working">
                            <h6>Cantidad a producir: {{ process.workBufferSize }}</h6>
                            <h6>Cantidad producida: {{ process.consumer.count }} </h6>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Buffer</legend>

        <div class="table-responsive">
            <table class="table table-bordered table-borders">
                <tbody>
                    <tr>
                        <td *ngFor="let cell of process.buffer; let i = index"  class="cell"
                            [ngClass]="{'producer-cell' : process.producer.idx == i, 'consumer-cell' : process.consumer.idx == i}">
                            <span class="buffer-pos">{{ i + 1 }}</span><br>

                            <i class="fas fa-briefcase work-asset" 
                                [ngClass]="{'invisible': !cell}"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </fieldset>

    <button class="btn btn-success" *ngIf="!started" (click)="start()"> 
        Empezar
        <i class="fas fa-play"></i>
    </button>

</div>