.table-borders table,
th,
td {
    border: 1.5px solid rgb(46, 46, 46);
}

span.producer-cell{
    // color: rgb(171, 0, 0);
    font-weight: bold;
}

span.consumer-cell{
    // color: rgb(31, 116, 0);
    font-weight: bold;
}

td.producer-cell{
    border: 3px dashed rgb(139, 66, 151) !important;
}

td.consumer-cell{
    border: 3px dashed rgb(172, 185, 56) !important;
}

.img-asset {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 5px;
}

.work-asset{
    font-size: 2vw;
}

.turn-icon{
    font-size: 10vh;
}

.badge{
    font-size: 100%;
}

.buffer-pos{
    font-size: 80%;
    color: rgb(52, 52, 52);
}

.cell{
    padding-top: 2.5px;
}