<div>
    <div class="row">
        <div class="col-xl-3">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Memoria</legend>
                <app-memory-viewer [isExtended]="false" [memory]="process.memory" [isModal]="false">
                </app-memory-viewer>
            </fieldset>
        </div>
        <div class="col-xl-9">
            <h3 class="text-center">
                Ejecución de procesos
            </h3>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Detalles</legend>
                <div class="row">
                    <div class="col-xl-4 text-center">
                        <h5 class="font-weight-bold">
                            Procesos nuevos:
                            {{ process.newQty }} 
                        </h5>
                    </div>
                    <div class="col-xl-4 text-center">
                        <h5 class="font-weight-bold">
                            Procesos suspendidos:
                            {{ process.suspended.length }}
                        </h5>
                    </div>
                    <div class="col-xl-4 text-center">
                        <h5 class="font-weight-bold">
                            Contador global:
                            {{ process.globalCounter }}
                            <span class="badge badge-secondary" *ngIf="paused">
                                <i class="fas fa-pause pl-2 pr-1"></i>
                                Pausado
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 text-center">
                        <h5 class="font-weight-bold" *ngIf="nextProcess">
                            ID:
                            {{ nextProcess.programId }} 
                        </h5>
                    </div>
                    <div class="col-xl-2 text-center">
                        <h5 class="font-weight-bold" *ngIf="nextProcess">
                            Memoria:
                            {{ nextProcess.memoryUsed }} 
                        </h5>
                    </div>
                    <div class="col-xl-2 text-center">
                        <h5 class="font-weight-bold" *ngIf="process.suspended.length > 0">
                            ID:
                            {{ process.suspended[0].programId }} 
                        </h5>
                    </div>
                    <div class="col-xl-2 text-center">
                        <h5 class="font-weight-bold" *ngIf="process.suspended.length > 0">
                            Memoria:
                            {{ process.suspended[0].memoryUsed }} 
                        </h5>
                    </div>
                    <div class="col-xl-4 text-center">
                        <h5 class="font-weight-bold">
                            Quantum:
                            {{ getQuantum() }} 
                            <i class="ml-1 fas fa-recycle" 
                                [ngClass]="{'show-quantum' : process.contextChangeFlag, 
                                'hide-quantum' : !process.contextChangeFlag}">
                            </i>

                            Procesos:  
                            {{ getProcessCount() }} 

                        </h5>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-xl-4">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Procesos listos</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" *ngIf="process.ready.length > 0; else not_working_batch">
                                <thead>
                                    <tr>
                                        <th>ID Programa</th>
                                        <th>Tiempo máximo</th>
                                        <th>Tiempo transcurrido</th>
                                        <th>Tamaño</th>
                                        <!-- <th>Tiempo restante</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let job of process.ready; let i = index">
                                        <td>
                                            <i class="fas fa-hand-point-right pointer" *ngIf="i == 0" title="Siguiente proceso"></i>
                                            {{ job.programId }}
                                        </td>
                                        <td> {{ job.maximumTime }} </td>
                                        <td> {{ job.elapsedTime }} </td>
                                        <td> {{ job.memoryUsed }} </td>
                                        <!-- <td> {{ job.maximumTime - job.elapsedTime }} </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #not_working_batch>
                                No hay listos en memoria                            
                            </ng-template>
                        </div>
                    </fieldset>
        
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Procesos bloqueados</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" *ngIf="process.blocked.length > 0; else blocked_processes">
                                <thead>
                                    <tr>
                                        <th>ID Programa</th>
                                        <th>Tiempo transcurrido bloqueado</th>
                                        <th>Tamaño</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let job of process.blocked">
                                        <td> {{ job.programId }} </td>
                                        <td> {{ job.timeBlocked }} / {{ getBlockedTime() }} </td>
                                        <td> {{ job.memoryUsed }} </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #blocked_processes>
                                No hay procesos bloqueados en memoria
                            </ng-template>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xl-4">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Proceso en ejecución</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" *ngIf="started && !finished; else not_working_process">
                                <thead>
                                    <tr>
                                        <th>Caracteristica</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="process.executing != null; else null_process">
                                        <tr>
                                            <td>ID</td>
                                            <td>{{ process.executing.programId }} </td>
                                        </tr>
                                        <tr>
                                            <td>Operacion</td>
                                            <td>
                                                {{ process.executing.operator1 }}
                                                {{ process.executing.operation }} 
                                                {{ process.executing.operator2 }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tiempo maximo estimado</td>
                                            <td>{{ process.executing.maximumTime }} </td>
                                        </tr>
                                        <tr>
                                            <td>Tiempo transcurrido</td>
                                            <td> {{ process.executing.elapsedTime }} </td>
                                        </tr>
                                        <tr>
                                            <td>Tiempo restante</td>
                                            <td>{{ process.executing.maximumTime - process.executing.elapsedTime }} </td>
                                        </tr>
                                        <tr>
                                            <td>Quantum</td>
                                            <td>{{ process.executing.currentQuantum }} / {{ getQuantum() }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tamaño</td>
                                            <td>{{ process.executing.memoryUsed }} </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #null_process>
                                        <tr>
                                            <td>ID</td>
                                            <td rowspan="5">
                                                🐒
                                                <br>
                                                Proceso nulo en ejecución
                                            </td>
                                        </tr>
                                        <tr> <td>Operacion</td> </tr>
                                        <tr> <td>Tiempo maximo estimado</td> </tr>
                                        <tr> <td>Tiempo transcurrido</td> </tr>
                                        <tr> <td>Tiempo restante</td> </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <ng-template #not_working_process>
                                No hay proceso en ejecucion
                            </ng-template>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xl-4">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Procesos terminados</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" *ngIf="process.finished.length > 0; else not_done_works">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Operación</th>
                                        <th>Resultado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let job of process.finished">
                                        <td> {{ job.programId }} </td>
                                        <td>
                                            {{ job.operator1 }}
                                            {{ job.operation }} 
                                            {{ job.operator2 }}
                                        </td>
                                        
                                        <td *ngIf="isValid(job.result)">
                                            {{ job.result | number:'1.0-3' }} 
                                        </td>
                                        <td *ngIf="!isValid(job.result)">
                                            ERROR
                                            <i class="fas fa-exclamation text-danger ml-2"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #not_done_works>
                                No hay procesos terminados
                            </ng-template>
                        </div>
                    </fieldset>
                </div>
            </div>
            <button class="btn btn-success" [disabled]="started" (click)="startSimulation()">
                Iniciar ejecución 
                <i class="fas fa-play ml-3"></i>
            </button>
        </div>
    </div>
        
</div>
