<div style="height: 15vh;"></div>
<div class="">
    <h2 class="text-center">Ingresar procesos</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row h-100">
            <div class="col-md-3"></div>
            <div class="col-md-6 my-auto">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Simular procesos</legend>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Cantidad de procesos</label>
                        <div class="col-sm-6">
                            <input
                                type="number"
                                class="form-control"
                                placeholder="Ingrese cantidad"
                                formControlName="processesQty"
                                [class]="getClass('processesQty')"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Quantum</label>
                        <div class="col-sm-6">
                            <input
                                type="number"
                                class="form-control"
                                placeholder="Ingrese quantum"
                                formControlName="quantum"
                                [class]="getClass('quantum')"
                            >
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-3"></div>
        </div>

        <br>
        <button class="btn btn-primary m-2" [disabled]="form.invalid" (click)="submit()">
             Agregar procesos
            <i class="fas fa-plus ml-2"></i>
        </button>
    </form>
</div>
