<nav class="navbar navbar-dark page-nav px-3">
    <a class="navbar-brand page-nav-content" routerLink="/">
        <i class="fas fa-cogs page-icon"></i>
        {{ appTitle }}
    </a>
</nav>
<div class="container-fluid text-center">
    <div class="m-2">
        <router-outlet></router-outlet>
    </div>
</div>

<div>
    <div style="height: 30px;"></div>
    <footer class="footer page-footer" (click)="credits()">
        <div class="container text-center">
            <span>
                Made with
                <i class="fas fa-heart text-danger"></i>
                by FFahrenheit
            </span>
        </div>
    </footer>
</div>