<div>
    <h2 class="text-center"> Resumen de ejecución de procesos </h2>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <!-- <table class="table table-bordered table-sm" *ngIf="process.ready.length > 0; else not_working_batch">
                    <thead>
                        <th>ID Programa</th>
                        <th>Tiempo máximo</th>
                        <th>Tiempo transcurrido</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let job of process.ready; let i = index">
                            <td>
                                <i class="fas fa-hand-point-right pointer" *ngIf="i == 0" title="Siguiente proceso"></i>
                                {{ job.programId }}
                            </td>
                            <td> {{ job.maximumTime }} </td>
                            <td> {{ job.elapsedTime }} </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #not_working_batch>
                    No hay listos en memoria                            
                </ng-template>
            </div> -->
        </div>
    </div>
</div>