<div>
    <h2 class="text-center">Ingresar procesos</h2>
    <h5 class="text-left font-weight-bold">Procesos agregados: {{ processesQty }}</h5>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos del programa</legend>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Número del programa</label>
                        <div class="col-sm-8">
                            <input
                                #idInput
                                type="number"
                                min="1"
                                class="form-control"
                                placeholder="Ingrese ID"
                                formControlName="programId"
                                [class]="getClass('programId')"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nombre del programador</label>
                        <div class="col-sm-8">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Ingrese nombre del programador"
                                formControlName="programmerName"
                                [class]="getClass('programmerName')"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tiempo máximo estimado</label>
                        <div class="col-sm-8">
                            <input
                                type="number"
                                min="1"
                                class="form-control"
                                placeholder="Ingrese tiempo maximo del programa"
                                formControlName="maximumTime"
                                [class]="getClass('maximumTime')"
                            >
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Instrucciones del programa</legend>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Operador 1</label>
                        <div class="col-sm-8">
                            <input
                                type="number"
                                class="form-control"
                                placeholder="Ingrese el primer operador"
                                formControlName="operator1"
                                [class]="getClass('operator1')"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Operacion</label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="operation" [class]="getClass('operation')">
                                <option selected [value]="null" disabled>Seleccion la operación</option>
                                <option *ngFor="let op of operations" [value]="op.operator">
                                    {{ op.name }}
                                    ({{ op.operator }})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Operador 2</label>
                        <div class="col-sm-8">
                            <input
                                type="number"
                                class="form-control"
                                placeholder="Ingrese el segundo operador"
                                formControlName="operator2"
                                [class]="getClass('operator2')"
                            >
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <button class="btn btn-primary m-2" type="submit">
            Agregar programa 
            <i class="fas fa-plus ml-2"></i>
        </button>

        <br>
        <button class="btn btn-success m-2" [disabled]="processesQty == 0" (click)="execute()">
             Ejecutar {{ processesQty }}
             proceso<span *ngIf="processesQty != 1">s</span> 
             <i class="fas fa-play ml-3"></i>
        </button>

        <!-- <br><button class="btn btn-danger my-2" (click)="simulateInput()"> No quiero probar </button> -->
    </form>
</div>
